__pycache__/
*.py[cod]
*$py.class
*.so
.Python

.venv/
venv/
ENV/
env/
bin/
lib/
include/
share/

.vscode/
.idea/
*.swp
*.swo

dist/
build/
*.egg-info/
*.spec

*.log
.ruff_cache/
.mypy_cache/
.pytest_cache/

# === Segurança (NUNCA subir arquivos de segredos) ===
.env
.pypirc
